/* General styles */
nav {
    background-color: #000000;
    padding: 10px;
    
  }
  
  .logo {
    margin-right: auto;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color:#A2AAAD ;/*avs Silver*/
  }
  
  a:hover {
    color: #236192;/*AVALANCHE BLUE COLOR*/
  }
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #A2AAAD;
    margin: 0;
    padding: 0;
}

h2 {
    color: #6F263D;
}

/* Styles specific to the about page */
.about-section {
    padding: 20px;
    background-color: #F2F2F2; /* Example background color */
    margin-bottom: 20px;
}

.about-section p {
    text-align: justify;
    margin-bottom: 20px;
}

/* First letter styling (optional) 
.about-section p::first-letter {
    font-size: 150%;
    float: left;
    margin-top: 4px;
    margin-right: 8px;
    font-weight: bold;
}

/*To make the different sections colored I will need to create classes and also
it was the last thing I looked at on chatgpt*/