/* Navigation styles */
nav {
  background-color: #000000;
  padding: 10px;
}

.logo {
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #A2AAAD; /* Silver */
}

a:hover {
  color: #236192; /* Colorado Avalanche Blue */
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #A2AAAD;
  margin: 0;
  padding: 0;
}

h2 {
  color: #A2AAAD;
  text-align: center;
  margin: auto;
}

/* Styles specific to the about page */
.history,
.owner,
.why {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.history {
  background-color: #6F263D; /* Colorado Avalanche Burgundy */
}

.owner {
  background-color: #236192; /* Colorado Avalanche Blue */
}

.why {
  background-color: #6F263D; /* Colorado Avalanche Burgundy */
}

.history p,
.owner p,
.why p {
  text-align: justify;
  margin-bottom: 20px;
}

/* Update box class names and colors */
.blue-box,
.burgundy-box {
  background-color: #236192; /* Colorado Avalanche Blue */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 50%; /* Limit the width of the content */
}

.owner-content {
  max-width: 50%; /* Limit the width of the content */
  margin: 0 auto; /* Center the content horizontally */
  padding: 10px;
  border-radius: 5px;
  background-color: #6F263D; /* Colorado Avalanche Burgundy */
}

.owner-title {
  color: #236192; /* Set the color of the title */
  text-align: center; /* Center the title */
}
