/* Navigation styles */
nav {
    background-color: #000000;
    padding: 10px;
    border: 4px solid #6F263D;
    
  }
  
  .logo {
    margin-right: auto;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color:#A2AAAD ;/*Colorado Avalanche SILVER*/
  }
  
  *:hover {
    color: #236192;/*AVALANCHE BLUE COLOR*/
  }
  
  /* Section styles */
  section {
    padding: 50px 0;
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  section img {
    max-width: 100%;
    height: auto;
  }
  
  /* Container styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .left-section,
  .right-section {
    padding-bottom: 100px;
    color: #000000; /*avs Black*/
  }
  
  .left-section {
    background-color: #6F263D; /*AVALANCHE Burgundy COLOR*/
    text-align: left; /*move the text to the left*/

  }
  
  .right-section {
    background-color: #236192;/*AVALANCHE BLUE COLOR*/
    text-align: right;
  }
  
  /* Layout styles */
  .container {
    display: flex;
    flex-direction: column;
  }
  
h2 {
  color:#A2AAAD ; /*Colorado Avalanche SILVER*/
}


/*Photo section*/
.general {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.photo-height{
  height: 250px; /*how tall*/
  width: 650px;/*how wide*/
  display: block;/*ensure that image is a block element*/
  margin-left: auto;/*center imag horizontally*/
  margin-right:auto ;/*center imag horizontally*/
  margin-top: auto; /*center imag vertic*/
  margin-bottom: auto;/*center imag vertic*/
 
}

/* General.html page*/
.full-width-box {
  background-color: #6F263D; /*Colorado Avalanche Burgundy*/
  padding: 125px;
  border: 4px solid #236192;/*Colorado Avalanche Blue*/
}

.centered-heading {
  background-color: #A2AAAD; /* Colorado Avalanche SILVER */
  border: 4px solid #6F263D; /* Colorado Avalanche Burgundy */
  padding: 10px 20px;
  text-align: center;
  color: #000000; /* Black */
}


/* bullet points */
.flex-container {
  display: flex;
}

.flex-column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.flex-column:last-child {
  margin-right: 0; /* Remove margin from last column */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}

