/* Navigation styles */
nav {
    background-color: #000000;
    padding: 10px;
    
  }
  
  .logo {
    margin-right: auto;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color:#A2AAAD ;/*Colorado Avalanche SILVER*/
  }
  
  *:hover {
    color: #236192;/*AVALANCHE BLUE COLOR*/
  }
  
  /* Section styles */
  section {
    padding: 50px 0;
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  section img {
    max-width: 100%;
    height: auto;
  }
  
  /* Container styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .left-section,
  .right-section {
    padding-bottom: 100px;
    color: #000000; /*avs Black*/
  }
  
  .left-section {
    background-color: #6F263D; /*AVALANCHE Burgundy COLOR*/
    text-align: left; /*move the text to the left*/

  }
  
  .right-section {
    background-color: #236192;/*AVALANCHE BLUE COLOR*/
    text-align: right;
  }
  
  /* Layout styles */
  .container {
    display: flex;
    flex-direction: column;
  }
  
h2 {
  color:#A2AAAD ; /*Colorado Avalanche SILVER*/
}


/*Photo section*/
.general {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}